#yFrame{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* background-color: yellow; */
}



body{
    /* background-color:teal; */
    /* background-color:#205; */
    /* background-image:url(gifs/222.gif); */
    margin: 0px;
    padding: 0px;
    width: 100%
}

img{
  transform: scale(2);
}

.x-scrollable{
    scroll-snap-align: none none ;
}

.first-color {
	background: #155263;
}

.bgSalmon {
	background-color: hsl(16, 100%, 62%);
	/* background-color: #abc;  */
}

.bgFuschia{
    background-color: #a51350;
    /* background-color: #A40;  */
}

.bgGridPaper{
    background-image: url(gridpaper.jpg);
    background-size: 100%;
}

.bg123{
  background-image: url(gifs/123123.gif);
  background-size: 33% 33%;
}

.bgOrange {
	background-color: #ff9a3c;
}

.bgYellow {
	background-color: #ffc93c;
	/* background-color: #0fc93c;  */
}

.bgDark{
	background-color: #205;
}

.bgSoccer{
    background-image: url("gifs/soccerball.gif");
    background-size: 10%;
}

#yFrame{
    background-color: black;
}

@keyframes limey{
    0%{background-color:teal}
    50%{background-color:black}
    100%{background-color:teal}
}
@keyframes limey2{
    0%{background-color:greenyellow}
    50%{background-color:black}
    100%{background-color:greenyellow}
}

.limeWave1{
    animation: limey 1s ease-in-out infinite;
}
.limeWave2{
    animation: limey2 2s ease-in-out infinite;
}
.limeWave3{
    animation: limey 3s ease-in-out infinite;
}

.box1{
    width: 94%;
    height: 96%;
    top:1.5%;
    left:3%;
    position: relative;
    /* margin: 15px; */
    /* padding: 15px; */
}

/* fonts */

@font-face{
    font-family: matrix;
    src: url(MATRIX.tff);
}
.matrix{
    font-family: matrix;
}


.face {
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 100px;
    text-align: center;
  }

  p + div {
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    margin-left: 100px;
  }
  .no-perspective-box {
    transform: rotateX(-15deg) rotateY(30deg);
  }

  .perspective-box-far {
    transform: perspective(9cm) rotateX(-15deg) rotateY(30deg);
  }

  .perspective-box-closer {
    transform: perspective(4cm) rotateX(-15deg) rotateY(30deg);
  }

  .top {
    background-color: skyblue;
    transform: rotateX(90deg) translate3d(0, 0, 50px);
  }

  .left {
    background-color: pink;
    transform: rotateY(-90deg) translate3d(0, 0, 50px);
  }

  .front {
    background-color: limegreen;
    transform: translate3d(0, 0, 50px);
  }

  @keyframes bgBlend {
    0%{mix-blend-mode: multiply}
    10%{mix-blend-mode: difference}
    20%{mix-blend-mode: normal}
    30%{mix-blend-mode: darken}
    40%{mix-blend-mode: lighten}
    50%{mix-blend-mode: color-dodge}
    60%{mix-blend-mode: exclusion}
    70%{mix-blend-mode: hue}
    80%{mix-blend-mode: color}
    90%{mix-blend-mode: luminosity}
    100%{mix-blend-mode: multiply}
  }

  .bgBlender{
    animation: bgBlend 1s infinite;
    /* background-blend-mode: darken; */
    /* mix-blend-mode: darken; */
  }

  @font-face {
    font-family: sketchmajor;
    src: url(fonts/sketchmajor.ttf);
  }

  @font-face{
    font-family: sillyheart;
    src: url(fonts/sillyheart.otf);
  }

  @font-face{
    font-family: romance;
    src: url(fonts/romance.ttf);
  }

  @font-face{
    font-family: factory;
    src: url(fonts/factory.otf);
  }

  @font-face{
    font-family: shatter60s;
    src: url(fonts/shatter60s.ttf);
  }

  @font-face{
    font-family: superman;
    src: url(fonts/superman.ttf);
  }

  @font-face{
    font-family: pokemon;
    src: url(fonts/pokemon.ttf);
  }

  @font-face{
    font-family: gfab;
    src: url(fonts/gfab.ttf);
  }

  @font-face{
    font-family: kata;
    src: url(fonts/kata.otf);
  }
  @font-face{
    font-family: veg;
    src: url(fonts/veg.ttf);
  }
  @font-face{
    font-family: caps;
    src: url(fonts/Capsmall.ttf);
  }
  @font-face{
    font-family: elfont;
    src: url(fonts/elfont.ttf);
  }

  .dateTitle{
    font-family: sketchmajor;font-size: 6em;letter-spacing: 6px;padding-top:5px;
  }

  .r1{
    transform: rotate(0deg) skew(-2deg,-2deg);
  }

  .rr1{
    transform: rotate(1deg);
  }

  .r2{
    transform: rotate(0deg) skew(2deg,2deg);

  }

  @keyframes crossfade{
    0%{opacity: .4;}
    30%{opacity: .6;}
    70%{opacity: .6;}
    100%{opacity: .4;}
  }

  .crossfader{
    animation: crossfade 1s infinite;
  }

  .dollarbills{
    animation: crossfade 3s infinite;
    position: absolute;
    font-size: 9em;
    top:-30px;
    /* font-family:caps; */
    font-family:elfont;
    color: #8c0;
    left:20%;right:20%;
    mix-blend-mode: darken;
    letter-spacing: 8px;
  }

  .dbills{
    font-family: gfab;
  }

  .dayBox{
    background-attachment: fixed;
  }
